<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link
      rel="icon"
      href="./assets/image/favicon-32x32.png"
      type="image/gif"
      sizes="32x32"
    />
    <link
      rel="shortcut icon"
      href="./assets/image/favicon-32x32.png"
      type="image/gif"
      sizes="32x32"
    />
    <link
      rel="apple-touch-icon"
      href="./assets/image/apple-touch-icon.png"
      type="image/gif"
    />
    <!-- Google Font CDN -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Main CSS -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>Home</title>
  </head>
  <header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="/static/img1.jpg" alt="" width="1600" height="100">
    <div class="w3-display-left w3-padding-large">
    </div>
    
  </header>
  <body>
    <div class="page-header text-center">
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 text=white">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/article">article</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/registration">register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/login">login</a>
            </li>
            
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search "
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <div id="primary" class="content-area blog-index">
      <div class="container">
        <div class="row">
        <div class="col-lg-9">
        <div class="row">
        <div class="blogpost col-md-12">
        <div class="card">
        <a href="https://whc.ca/blog/better-and-faster-backups-with-jetbackup-5/"><img class="card-img-top" src="/static/img2.jpg" alt="Better and faster backups with JetBackup 5"></a>
        <div class="card-body">
        <div class="categories">
        <a href="https://whc.ca/blog/category/security/?lang=en_ca" title="View all posts in Security" rel="category tag">
        <button type="button" class="btn btn-outline-primary">Security</button></a>
      </div>
              <div class="desc">
                <p>
                  AlmaLinux 8 is now available with our
                  <a href="https://whc.ca/canadian-cloud-servers">Cloud</a> and
                  <a href="https://whc.ca/dedicated-servers">Dedicated</a>
                  servers.
                </p>
                <p>
                  Are you a Cloud or Dedicated server administrator? Read on to
                  learn about how this affects you.
                </p>
                
                <h2>What is AlmaLinux 8?</h2>
                <p>
                  <a href="https://almalinux.org/">AlmaLinux 8</a> is an
                  enterprise-grade operating system (OS), like
                  <a href="https://www.centos.org/about/">CentOS</a>, that
                  provides a powerful platform for your servers to deliver
                  websites and email. It was developed in response to the
                  <a
                    href="https://blog.centos.org/2020/12/future-is-centos-stream/"
                    >announcement</a
                  >
                  that CentOS 8 support has reached ‘end of life’. This means
                  essential security updates will
                  <a href="https://wiki.centos.org/About/Product">soon</a> no
                  longer be available for this OS.
                </p>
                <h2 id="how-to-get">How do I get it?</h2>
                <p>
                  If you activate a <strong>new</strong> Cloud or Dedicated
                  server, you will now have the option to have AlmaLinux 8
                  pre-installed as your OS.
                </p>
                <h2 id="why-choose">Why choose AlmaLinux 8?</h2>
                <p>
                  Here are some of the notable benefits you’ll get with
                  AlmaLinux 8:
                </p>
                <ul>
                  <li aria-level="1">
                    <strong>Built for enterprise:</strong> It’s an
                    enterprise-grade OS that is more than capable of handling
                    substantial server workloads.
                  </li>
                  <li aria-level="1">
                    <strong>Long support windows:</strong> Support for AlmaLinux
                    8 has been committed to until at least 2029, including
                    thoroughly tested updates and security patches.
                  </li>
                  <li aria-level="1">
                    <strong>Easy to switch over:</strong> AlmaLinux is a 1:1
                    binary replacement for Red Hat Enterprise Linux (RHEL). This
                    makes switching from the same versions of CentOS to
                    AlmaLinux a breeze, requiring minimum effort.
                  </li>
                  <li aria-level="1">
                    <strong>Full cPanel Support:</strong> Having partnered with
                    AlmaLinux from the beginning, you can expect the same high
                    level of support from cPanel &amp; WHM as provided for
                    CentOS.
                  </li>
                </ul>
                <h2 id="comparison-ver">
                  What’s the difference between Cloudlinux and AlmaLinux 8
                </h2>
                <p>
                  CloudLinux is a commercial OS built specifically for website
                  and email hosting. It’s the OS that currently powers WHC’s
                  <a href="https://whc.ca/canadian-web-hosting">Web Hosting</a>,
                  <a href="https://whc.ca/reseller-web-hosting"
                    >Reseller Hosting</a
                  >, and
                  <a href="https://whc.ca/managed-wordpress-hosting/"
                    >Managed WordPress Hosting</a
                  >
                  services, and it’s the recommended OS for
                  <a href="https://whc.ca/dedicated-servers"
                    >Dedicated Servers</a
                  >.
                </p>
                <p>The main benefits of CloudLinux vs AlmaLinux 8 are:</p>
                <ul>
                  <li aria-level="1">
                    <strong>Better security:</strong> Features such as CageFS (a
                    virtual per-user filesystem for attack prevention),
                    HardenedPHP (secures unsupported versions of PHP), and
                    SecureLinks (kernel-level defence) combine to provide a high
                    level of security.
                  </li>
                  <li aria-level="1">
                    <strong>Improved performance:</strong> PHP pages are served
                    quickly and reliably using Mod_lsapi, also centralized
                    monitoring and diagnostics tools help you fix any
                    performance bottlenecks.
                  </li>
                  <li aria-level="1">
                    <strong>Resource isolation:</strong> Prevents downtime in
                    shared server environments by isolating the impact of high
                    resource usage to the offending tenant only. Greatly
                    boosting server stability and performance.
                  </li>
                  <li aria-level="1">
                    <strong>Better features:</strong> Additional features such
                    as MySQL governor (for SQL monitoring), LVE Manager (for
                    control panel management), and much more!
                  </li>
                </ul>
                <h2 id="upgrade">
                  Should I upgrade to AlmaLinux 8 and how do I upgrade?
                </h2>
                <p>
                  If you have a Cloud or Dedicated server and are running CentOS
                  7 (or earlier versions!), you should consider upgrading to
                  AlmaLinux 8 or CloudLinux by summer of 2024, as June 30, 2024,
                  is end-of-life (EOL) for CentOS 7.
                </p>
                <p>
                  This will increase the security and usability of your server
                  and give you a solid foundation for years to come.
                </p>
                <p>
                  Upgrading the OS of your server is not a simple operation. It
                  generally involves activating a second server running the new
                  OS, then migrating the contents from the older server to the
                  new one. Our support team can assist you with this when
                  needed.
                </p>
                <p>If you have any questions, please feel free to reach out!</p>
                <br />
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
    </html>