<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link
      rel="icon"
      href="./assets/image/favicon-32x32.png"
      type="image/gif"
      sizes="32x32"
    />
    <link
      rel="shortcut icon"
      href="./assets/image/favicon-32x32.png"
      type="image/gif"
      sizes="32x32"
    />
    <link
      rel="apple-touch-icon"
      href="./assets/image/apple-touch-icon.png"
      type="image/gif"
    />
    <!-- Google Font CDN -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- Main CSS -->
    <link rel="stylesheet" href="./assets/css/style.css" />
    <title>Home</title>
  </head>
  <header class="w3-display-container w3-wide" id="home">
    <img class="w3-image" src="/static/web.png" alt="" width="1600" height="100">
    <div class="w3-display-left w3-padding-large">
    </div>
    
  </header>
<body>
  <body>
    <div class="login-page">
      <div class="form">
        <div class="login">
          <div class="login-header">
            <h3>LOGIN</h3>
            <p>Please enter your credentials to login.</p>
          </div>
        </div>
        <form class="login-form">
          <input type="text" placeholder="username"/>
          <input type="password" placeholder="password"/>
          <button>login</button>
          <p class="message">Not registered? <a href="/registration">Create an account</a></p>
        </form>
      </div>
    </div>
</body>
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5>Hosting and Servers</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Canadian Web Hosting</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Canadian Cloud Servers</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Reseller Web Hosting</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Dedicated Servers</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Managed WordPress</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Anycast DNS</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Free Website Migration</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="mb-0">Domains & Websites</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Domain Name Search</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Domain Name Transfer</a>
            </li>
            <li>
              <a href="#!" class="text-dark">.CA Domain Backorder</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Weebly Site Builder</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Business Email</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Security and SSL</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">SSL Certificates</a>
            </li>
            <li>
              <a href="#!" class="text-dark">SiteSafe Protection</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Enterprise Anti-Spam</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Domain Privacy</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Protection</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Online Marketing</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Search Engine</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Optimization</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Email Marketing</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Affiliate Program</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Company</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Blog & News</a>
            </li>
            <li>
              <a href="#!" class="text-dark">About WHC</a>
            </li>
            <li>
              <a href="#!" class="text-dark">WHC Reviews</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Green Web</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Hosting</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Contact Us!</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Careers!</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Support</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Help Center</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Open Support Ticket</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Systems Status</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
      
          <div class="pull-right float-right">
            <div class="footer-infos">
              <i class="fa fa-phone" aria-hidden="true"></i>1-514-504-2113
            </div>
            <div class="footer-infos">
              <i class="fa fa-map-marker" aria-hidden="true"></i> 
              7250 Clark
              Street #301, Montreal, Quebec H2R 2Y3 Canada
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
      class="text-center p-3"
      style="background-color: rgba(224, 75, 75, 0.2)"
    >
      © 2022 Copyright:
      <a class="text-dark" href="#">WHC Canada</a>
    </div>
    <!-- Copyright -->
  </footer>

</body>
</html>
